* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}




.container {

  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
}

#game-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cell {
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.cell:hover {
  background-color: black;
}

.black {
  background-color: black;
}
