* {
  box-sizing: border-box;
}

#game-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cell {
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
